/*==============================
      BASIC CUSTOMIZATIONS          
===============================*/

/* Ikayzo Theme */
$color-primary: #ea5d00;
$color-secondary: #3d9297;
$color-base: #edece7; 

/* Retro Theme */
$color-primary: #b90016;
$color-secondary: #1e4952;
$color-base: #e9e6df;
$theme: light;

/* Minimal Theme */
$color-primary: #ccc;
$color-secondary: #aaa;
$color-base: #f2f2f2; 
$theme: light;

/* Theme - Basic  */
$color-primary: #0078e7;
$color-secondary: #333;
$color-base: #eee;
$theme: light;

/* Dark & Yellow Theme */
$color-primary: #f8c600;
$color-secondary: black;
$color-base: #333; 
$theme: dark;

/* Dark & Hot Pink Theme */
$color-primary: #ee0043;
$color-secondary: black;
$color-base: #333; 
$theme: dark; /* 'dark' or 'light' */

/* Civil Beat Theme */
$color-primary: #639cba;
$color-secondary: #ef9109;
$color-base: #edece7;  
$theme: light;


/*==============================
      DEFAULT STYLE RULES       
===============================*/

// Button, Interactivity Colors
$btn-color:         $color-primary;
$highlight-color:   lighten($color-primary, 30%);

// Header Section
$color-title:       $color-secondary;
$panel-header:    $color-base;

// Shortcuts Section
$panel-shortcut: lighten($color-base, 3%);
$shortcut: $color-base;
$shortcut-selected: $color-secondary;

// Content Section
$bg-color: white;
$list-shading: lighten($color-base, 5%);
$list-item-selected: $color-primary;
$th: darken($color-base, 15%);
$th-selected: $color-primary;

//Preview Section
$panel-preview: $bg-color;

//Footer Section
$panel-footer: $color-base;
$panel-status: darken($color-base, 15%); 

// border colors
$border-dark: #aaa;
$border-light: $bg-color;

// text colors
$text-main: #444;
$text-dark: darken($text-main, 15%);
$text-light: #fff;
$color-breadcrumb: #333;
$text-shortcut: $text-light;
$text-shortcut-selected: $text-light;
$btn-text-color: $text-main;
$text-list-item-selected: $text-light;
$text-list-item-hover: $text-dark;

$icon-folder: #e8aa50; 

// Conditional for dark themes
body {
  @if $theme == dark {
    $text-main: white;
    $text-dark: #fff;
    $text-light: #333;
    $bg-color: #444 !important;
	  $border-dark: black !important;
	  $border-light: #333 !important;
	  $color-breadcrumb: $color-primary;
    $icon-folder: $color-secondary;
    $text-shortcut: $text-dark !important;
    $text-shortcut-selected: $color-primary;
    $btn-text-color: $text-light !important;
    $text-list-item-selected: $text-light;
    $text-list-item-hover: $text-light;
  }
}

// labels, icon colors
$color-label: $text-main;    
$color-icon: $text-main;


/*=========Write your variable overrides below==============*/





