
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body  { height: 100%; width: 100%; }

body, table { font: Georgia, "Times New Roman", Times, serif; color: #4d4d4d; }

header, footer { color: white; font: 11px Helvetica Neue, Helvetica, Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.2em;}

/* --- Colors --- */
/*

Title Control             Gray          #666
Title Control Border      Dark-Gray     #333
Wrapper BGs               Light-Gray    #e9e9e9

*/



.ind-wrapper    { position:absolute; left: 0; right: 0; }

/* --- Header --- */
#header-wrapper { top:0; height: 100px; overflow: hidden; background: #e9e9e9;}

#title-control  { background: #666;text-align: center; border-bottom: 1px solid #333; padding: 10px 15px; }


/* --- Content Window ---*/
#section-wrapper { top: 100px; bottom: 150px; overflow: auto; }

#contents-panel { height: 100%;}

/* --- Footer --- */
#footer-wrapper { bottom: 0; height: 150px; overflow: hidden; background: #e9e9e9; }

.ind-panel        	{ display: table; width: 100%; }
.ind-cell			{ display: table-cell; vertical-align: top; }

.ind-control-panel-right		{float: right;}

#control-panel		{ padding: 15px 20px; }

#location-display	{ display: inline; font: Helvetica Neue, Helvetica, Arial, sans-serif;}
#location-controls 	{ padding: 5px 0; }
#refresh-control		{ }



#favorites-controls     	{ width: 20%; display: none; }
#contents-display    		{ width: auto; background: white; }
#preview-panel   			{ width: 20%; min-width: 200; display: none; }
#filename-panel				{ padding: 15px 20px; }
#filename-control			{ width: 300px; }
#status-display				{ padding: 15px 20px; text-transform: capitalize;}


img {	max-width: 100%; max-height: 100%; }

.ind-location-segment   { }
.ind-location-bucket   { }

.ind-viewbutton      { padding-left: 10px;}

.ind-content-selected		{ background: #aedeff;}
.ind-editbox					{ font: Georgia, "Times New Roman", Times, serif; }

.ind-filelist				{ float: left; list-style-type: none; padding: 10px; margin: 0; }
.ind-filelist > li 			{ float: left; width: 10em; margin-top: 1;}
.ind-filelist > li:hover		{ background: ;}

.ind-iconlist				 { }
li.ind-iconitem				 { text-align: center; margin-bottom: 25;} 

.ind-detaillist				{ width: 100% }
.ind-detailheader			{ font: 11px Helvetica Neue, Helvetica, Arial, sans-serif; color: white; text-transform: uppercase; letter-spacing: 0.2em; text-align: left; background: #8f9a9f; padding: 3px 7px;}
.ind-detailitem				{ width: 100% }
.ind-detailitem:hover		{ background: #def2ff;}
.ind-detailitem-dirname		{ font-weight: bold; }


.ind-listitem 				{ margin: 10px 0; }


.btn {
  border: none;
  background: white;
  color: #4d4d4d; /*dark gray*/
  padding: 2px 10px 3px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 8px;
  -moz-box-shadow: 8px;
  box-shadow: 8px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #4d4d4d;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
		
		
.btn.primary {
	background: #0c5b7f;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.btn.primary:hover {
	background: #0d6a94;
}