/* --- Colors --- */
/*

Title Control             Gray          #666
Title Control Border      Dark-Gray     #333
Wrapper BGs               Light-Gray    #eee
List View BG              Light-Blue    #f0f5f9

*/

/* Entypo pictograms by Daniel Bruce — www.entypo.com */
@font-face {
  font-family: "entypo";
  src:  url("../fonts/entypo.eot");
  src:  url("../fonts/entypo.eot?#iefix") format("embedded-opentype"),
        url("../fonts/entypo.woff") format("woff"),
        url("../fonts/entypo.ttf") format("truetype"),
        url("../fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* --- Universal Styles --- */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
html, body  { height: 100%; width: 100%; }
body        { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 13px; line-height: 1.0; color: #444; }
img   { max-width: 100%; max-height: 100%; }
a     { color: blue; text-decoration: underline;}

.clearfix { content: ""; display: table; clear: both; }


/* --- */
/* --- Icons --- */
.entypo  { font-family: "entypo"; font-size: 3.25em; line-height: 0.9em; color: #666;
-webkit-user-select: none; -ms-user-select:none; user-select:none; /* Remove accidental text highlighting */cursor: default; }
a.entypo { text-decoration: none;}

.icon-folder { color: #e8aa50;}

.ind-iconlist     .entypo { font-size: 70px; line-height: 0.8em;}
.ind-detaillist   .entypo { font-size: 30px; line-height: 1.0em;}

/* --- */
/* --- Header Controls --- */
#control-panel      { padding: 15px 20px; width: 100%;}

#location-controls  { float: left;}
#layout-controls    { float: right;}

#view-controls      { float: left;}
#detail-controls    { float: right; margin: 0 0 0 10px;}
.ind-layout-controls  { background: #fff; text-align: center; overflow: hidden; position: relative; float: right;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }
.ind-layout-controls a { height: 35px; width: 35px; display: inline-block; zoom:1; *display:inline; 
 border-left: 1px solid #ddd; }
.ind-layout-controls a:first-child { border-left: none;}
.ind-btn-active   { background: #7dbfd7; color: #fff;}

.ind-detailbutton { height: 35px; width: 35px; display: inline-block; zoom:1; *display:inline; }

/* --- Footer Controls --- */
#filename-panel       { padding: 15px 20px 0; width: 100%; }
#filename-control     { width: 300px; }
#status-display       { padding: 15px 20px; text-transform: capitalize;}

#filename-panel > .ind-cell { float: left; width: 50%;}


/* --- */
/* --- Overall Content Areas --- */
.ind-wrapper    { position:absolute; left: 0; right: 0; }

#header-wrapper,
#footer-wrapper { border-color: #aaa; border-style: solid; background: #eee; overflow: hidden;  }

/* --- Header --- */
#header-wrapper { border-width: 0 0 1px 0; top:0; height: 100px; }
#title-control  { background: #323a45; text-align: center; border-bottom: 1px solid #333; padding: 10px 15px; text-transform: uppercase; letter-spacing: 0.2em; color: #fff; }

/* --- Content Window --- */
#section-wrapper{ top: 100px; bottom: 150px; overflow: auto; border-right: 1px solid #aaa; }
#contents-panel { height: 100%;}

/* --- Preview Window --- */
#aside-wrapper  { top: 100px; bottom: 150px; width: 300px; float: right; position: relative; padding: 15px 20px;}

/* --- Footer --- */
#footer-wrapper { border-width: 1px 0 0 0; bottom: 0; height: 150px; }


/* --- */
/* --- Side panels --- */
.ind-show-preview   { margin-right: 300px; }
.ind-show-shortcuts { margin-left: 300px; }



/* --- */
/* --- Specific Content Layout --- */
.ind-filelist				        { }
.ind-filelist > li 			    { width: 25%; overflow: hidden; display: inline-block; zoom: 1; *display:inline;
white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -moz-user-select: none; /* Truncates text */
-webkit-user-select: none; -ms-user-select:none; user-select:none; /* Remove accidental text highlighting */ }
.ind-filelist > li span:hover    { cursor: default; /* Remove text cursor - Add to mobile */}
.ind-filelist .ind-content-selected { background: #0c5b7f !important; color: #fff !important;}

.ind-editable-name   { letter-spacing: 0.06em; display: inline-block; zoom: 1; *display:inline;}
/* Sets every 9th element to be light blue. This is dependent on the width of each LI being 25%. If it is changed to 20%, everything 11th element needs to be implemented. */
.ind-filelist > li:nth-child(8n+1),
.ind-filelist > li:nth-child(8n+2),
.ind-filelist > li:nth-child(8n+3),
.ind-filelist > li:nth-child(8n+4),
.ind-filelist tr:nth-child(odd)  { background: #f0f5f9;}

/* --- List View --- */
.ind-listitem         { padding: 10px; }
.ind-listitem .ind-editable-name   { margin: 0 0 0 8px; letter-spacing: 0.06em;}

/* --- Thumbnail View --- */
.ind-iconlist li      { padding: 10px 10px 20px; text-align: center;}



/* --- */
/* --- Detail View --- */

/* --- Layout --- */
.ind-detaillist				{ width: 100%; }
.ind-detailheader			{ text-transform: uppercase; letter-spacing: 0.1em; text-align: left; background: #eee; padding: 7px 10px; border-left: 1px solid #fff; position: relative;}
.ind-detailheader:first-child { border-left: none;}
.ind-detaillist tr td     { padding: 0 10px; height: 32px; /* Min Height */ vertical-align: middle; }
.ind-detaillist tr td:first-child {  width: 40px; text-align: center;}

/* --- Controls --- */
.ind-col-sort-asc,
.ind-col-sort-desc  { background: #7dbfd7;}
.ind-col-sort       { display: inline-block; zoom: 1; *display:inline; right: 10px; top: 0; line-height: 0.55em; position: absolute;}



/* --- */
#location-display { display: inline;}
#location-controls  { padding: 5px 0; }
#refresh-control    { }


#shortcuts-controls   { width: 20%; }
#contents-display     { width: auto; background: white; }


.ind-location-segment   { }
.ind-location-bucket   { }

.ind-content-selected   { background: #aedeff;}
.ind-editbox          { font: Georgia, "Times New Roman", Times, serif; }
