/* --- Colors --- */
/*

Title Control             Gray          #666
Title Control Border      Dark-Gray     #333
Wrapper BGs               Light-Gray    #eee
List View BG              Light-Blue    #f0f5f9

*/

/* Entypo pictograms by Daniel Bruce — www.entypo.com */
@font-face {
  font-family: "entypo";
  src:  url("../fonts/entypo.eot");
  src:  url("../fonts/entypo.eot?#iefix") format("embedded-opentype"),
        url("../fonts/entypo.woff") format("woff"),
        url("../fonts/entypo.ttf") format("truetype"),
        url("../fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* --- Universal Styles --- */
*, *:before, *:after {  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body  { height: 100%; width: 100%; }
body        { font-family: Arial, Verdana, Tahoma, sans-serif; font-size: 13px; line-height: 1.0; color: #444; }
img   { max-width: 100%; max-height: 100%; }
a     { color: #dd514c; text-decoration: underline; -webkit-user-select: none; -ms-user-select:none; user-select:none; /* Remove accidental text highlighting */cursor: default; }
ul,ol,dl  { margin: 0; padding: 0; list-style-type: none;}
.clearfix { content: ""; display: table; clear: both; }


/* --- */
/* --- Icons --- */
.entypo  { font-family: "entypo"; line-height: 1.0em; color: #666;
-webkit-user-select: none; -ms-user-select:none; user-select:none; /* Remove accidental text highlighting */cursor: default; }
a.entypo { text-decoration: none;}

.icon-folder { color: #e8aa50;}

.ind-filelist     .entypo { font-size: 2.9em; line-height: 0.8em;}
.ind-iconlist     .entypo { font-size: 4.5em; line-height: 0.8em;}
.ind-detaillist   .entypo { font-size: 2.2em; line-height: 1.0em;}

/* --- */
/* --- Header Controls --- */
.ind-btn { background: #ccc; text-align: center; display: inline-block; zoom:1; *display: block; position: relative; overflow: hidden; text-decoration: none; padding: 10px 15px; color: #333; font-size: 1.1em;}
.ind-btn:hover 	  { color: inherit;}
.ind-btn-dis 	  { background: #ddd; color: #aaa; cursor: no-drop;}
.ind-btn.entypo   { width: 35px; height: 35px; padding: 0; font-size: 2.9em; }
.ind-btn-active   { background: #0078e7; color: #fff !important;} /* Keeps color from changing on hover */

/* --- */
/* --- Header Controls --- */
#control-panel      { padding: 15px 20px; width: 100%;}

#layout-controls-left,
#shortcuts-controls,
#layout-contorols 		{ float: left; }
#location-controls      { float: left; margin: 0 0 0 10px;}
#location-display    	{ float: left; padding: 10px; font-weight: bold;}
.ind-location-divider   { margin: 0 10px;}


#layout-controls-right       { float: right;}
#view-controls      { float: left;}
#detail-controls    { float: right; margin: 0 0 0 10px;}


/* --- Footer Controls --- */
#filename-panel     { padding: 15px 20px 0; width: 100%; }
#filename-panel .ind-btn { margin-left: 10px;}
#filename-panel .ind-btn:first-child { margin: 0;}
#filename-options,	
#filename-save,		
#filename-action	{ float: left; width: 33.3333333%;}
#filename-options	{ }
#filename-save		{ padding: 5px 0 0 0;}
#filename-action	{ text-align: right;}
#filename-control   { width: 50%;}
#filterSelector 	{ width: 30%;}
#status-panel		{ background: #ccc; bottom: 0px; position: absolute; width: 100%;}
#status-display     { padding: 10px 20px; text-transform: capitalize;}


/* --- */
/* --- Overall Content Areas --- */
.ind-wrapper    { position:absolute; left: 0; right: 0; }

#header-wrapper,
#footer-wrapper { border-color: #aaa; border-style: solid; background: #f0f0f0; overflow: hidden;  }

/* --- Header --- */
#header-wrapper { border-width: 0 0 1px 0; top:0; height: 100px; }
#title-control  { background: #333; text-align: center; padding: 10px 15px; text-transform: uppercase; color: #fff; }


/* --- Content Window Shared Styles --- */
#aside-wrapper-left,
#section-wrapper,
#aside-wrapper-right		{ top: 100px; bottom: 100px; }
#aside-wrapper-left,
#aside-wrapper-right		{ position: absolute; width: 300px;}
/* --- Shortcut Window --- */
#aside-wrapper-left	 	{ left: 0; background: #fafafa; border-right: 1px solid #aaa; }
.ind-show-preview   { margin-right: 300px; }

/* --- Content Window --- */
#section-wrapper{ overflow: auto; background: #fff; }
#contents-panel { height: 100%;}

/* --- Preview Window --- */
#aside-wrapper-right  	{ right: 0; background: #fff; border-left: 1px solid #aaa; padding: 15px 20px; }
.ind-show-shortcuts { margin-left: 300px; }

/* --- Footer --- */
#footer-wrapper { border-width: 1px 0 0 0; bottom: 0; height: 100px; }


/* --- */
/* --- Specific Content Layout --- */

/* Shortcuts */
.ind-shortcut-list li 	{ padding: 15px 15px; font-weight: bold;}
.ind-shortcut-selected 	{ background: #0078e7; color: #fff;}


/* Main Content */
.ind-content				    { }
.ind-content li 			    { width: 33.333%; overflow: hidden; white-space: nowrap; float: left;
 -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; /* Remove accidental text highlighting */ }
.ind-content li span:hover    	{ cursor: default; /* Remove text cursor - Add to mobile */}
.ind-content .ind-content-selected  { background: #0078e7 !important; color: #fff !important;}

.ind-content span 					{ display: inline-block; zoom: 1; *display:inline;}
.ind-content .ind-editable-name	 	{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%; padding: 4px 0; letter-spacing: 0.06em; } /* Truncates text. Width needs to be set to work properly */
/* Sets every 9th element to be light blue. This is dependent on the width of each LI being 33%. If it is changed to 25%, everything 9th element needs to be implemented. */
.ind-content li:nth-child(6n+1),
.ind-content li:nth-child(6n+2),
.ind-content li:nth-child(6n+3),
/* .ind-content li:nth-child(8n+4), This is for 4 columns */
.ind-content tr:nth-child(odd)  { background: #f7f7f7;}

/* --- List View --- */
.ind-listitem                     { padding: 5px; }
.ind-listitem .ind-editable-name  { margin: 0 0 0 5px; top: -4px; position: relative; width: 75%;}

/* --- Thumbnail View --- */
.ind-iconlist li      { padding: 10px 10px 20px; text-align: center;}



/* --- */
/* --- Detail View --- */

/* --- Layout --- */
.ind-detaillist			{ width: 100%; }
.ind-detaillist th		{ text-transform: uppercase; text-align: left; background: #ccc; padding: 7px 10px; border-left: 1px solid #fff; position: relative;}
.ind-detaillist th:first-child { border-left: none;}
.ind-detaillist tr td     { padding: 0 10px; height: 32px; /* Min Height */ vertical-align: middle; }
.ind-detaillist tr td:first-child {  width: 40px; text-align: center;}

/* --- Controls --- */
th.ind-col-sort-asc,
th.ind-col-sort-desc  { background: #0078e7; color: #fff;}
.ind-col-sort         { display: inline-block; zoom: 1; *display:inline; right: 10px; top: 0; line-height: 0.55em; position: absolute; color: #fff;}