/*==============================
		   VARIABLES           
===============================*/
/* Custom Theme - Civil Beat 
$primary-color: #639cba;
$highlight-color: #9bc8dd;

$secondary-color: #ef9109;
$medium-color: #9bc8dd;
$base-color: #edece7;   */
/* HOT Theme */
/* Civil Beat Theme */
/* Theme - Basic  */
/*--------base colors / subsidiary colors ----------------*/
/* text colors */
/* opposite text colors 
$text-main: #f0f0f0;
$text-dark: #fff;
$text-light: #333;*/
/*---------typography-----------------*/
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  color: #444444; }

/*-------------TYPOGRAPHY--------*/
#title-control, th {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

/*-----------PANEL BGS------------- */
#title-control {
  background: #333333;
  color: white; }

#header-wrapper, #footer-wrapper {
  border-color: #d4d4d4;
  background: #eeeeee; }

#aside-wrapper-left {
  /* shortcuts panel */
  background: #f6f6f6;
  border-right: 1px solid #d4d4d4; }

#contents-panel {
  background: white; }

#aside-wrapper-right {
  background: white;
  border-left: 1px solid #d4d4d4; }

#status-panel {
  background: #c8c8c8; }

#status-display {
  color: #1e1e1e; }

/*-----------BUTTONS, links------------- */
.ind-btn {
  background: #57aaf6;
  color: #1e1e1e; }
  .ind-btn:hover {
    background: #359eff;
    color: #1e1e1e; }

.ind-btn-dis {
  background: #79bbf8;
  color: #aaa; }
  .ind-btn-dis:hover {
    background: #79bbf8; }

.ind-btn-active {
  background: #0078e7;
  color: white; }
  .ind-btn-active:hover {
    background: #0185ff;
    color: white; }
  .ind-btn-active:active {
    background: #0078e7; }

a {
  color: #333333;
  text-decoration: underline; }
  a:hover {
    color: #595959; }
  a:active {
    color: #737373; }

/*---------------LIST--------------------- */
.ind-content li:nth-child(6n+1),
.ind-content li:nth-child(6n+2),
.ind-content li:nth-child(6n+3),
.ind-content tr:nth-child(odd) {
  background: #fbfbfb; }

.ind-listitem:hover {
  background: #9bcfff !important; }

/*---shortcuts list----*/
.ind-shortcut-selected:first-child {
  background: #333333;
  color: white; }

.ind-listitem.ind-shortcut-item:hover {
  background: #e1e1e1 !important; }

.ind-listitem.ind-shortcut-selected:hover {
  background: #4d4d4d !important; }
.ind-listitem.ind-shortcut-selected:active {
  background: #666666 !important; }

/*---default view----*/
.ind-content .ind-content-selected {
  background: #0078e7 !important;
  color: white !important; }

.ind-listitem.ind-content-selected:hover {
  background: #5db1ff !important; }

.ind-listitem:active {
  background: #0078e7 !important; }

/*---detail list view----*/
.ind-detaillist th {
  background: #81c2ff;
  border-left: 1px solid white; }
  .ind-detaillist th:hover {
    background: #b4dbff; }

.ind-detaillist .ind-content-selected:hover {
  background: #5db1ff !important; }

th.ind-col-sort-asc, th.ind-col-sort-desc {
  background: #0078e7 !important;
  color: white; }

/*---icon view----*/
.ind-iconitem:hover {
  background: #b4dbff !important; }

.ind-iconitem.ind-content-selected:hover {
  background: #5db1ff !important; }

tr:hover {
  background: #b4dbff !important; }
