/*==============================
		   VARIABLES           
===============================*/
/* DEFAULT THEME 
$primary-color:  #0078e7;
$highlight-color: #9bc8dd;

$secondary-color: #333;
$medium-color: #ccc;
$light-color: #f0f0f0;
*/
/* Custom Theme - Civil Beat  */
/*--------base colors / subsidiary colors ----------------*/
/*---------typography-----------------*/
/* text colors */
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  color: #444444; }

/*-------------TYPOGRAPHY--------*/
#title-control, th {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

/*-----------PANEL BGS------------- */
#title-control {
  background: #ef9109;
  color: white; }

#header-wrapper, #footer-wrapper {
  border-color: #d7d5ca;
  background: #edece7; }

#aside-wrapper-left {
  /* shortcuts panel */
  background: #f4f3f0;
  border-right: 1px solid #d7d5ca; }

#contents-panel {
  background: white; }

#aside-wrapper-right {
  background: white;
  border-left: 1px solid #d7d5ca; }

#status-panel {
  background: #c1bead; }

#status-display {
  color: #333333; }

/*-----------BUTTONS, links------------- */
.ind-btn {
  background: #9bc8dd;
  color: #333333; }
  .ind-btn:hover {
    background: #98bed1;
    color: #333333; }

.ind-btn-dis {
  background: #b6d7e6;
  color: #aaa; }
  .ind-btn-dis:hover {
    background: #b6d7e6; }

.ind-btn-active {
  background: #639cba;
  color: white; }
  .ind-btn-active:hover {
    background: #75a7c2;
    color: white; }
  .ind-btn-active:active {
    background: #5d9ec0; }

a {
  color: #ef9109;
  text-decoration: underline; }
  a:hover {
    color: #f8b24c; }
  a:active {
    color: #fac77d; }

/*---------------LIST--------------------- */
.ind-content li:nth-child(8n+1), .ind-content li:nth-child(8n+2), .ind-content li:nth-child(8n+3), .ind-content li:nth-child(8n+4), .ind-content tr:nth-child(odd) {
  background: #f8f8f6; }

.ind-listitem:hover {
  background: #d4e7f0 !important; }

/*---shortcuts list----*/
.ind-shortcut-selected:first-child {
  background: #ef9109;
  color: white; }

.ind-listitem.ind-shortcut-item:hover {
  background: #e2e0d8 !important; }

.ind-listitem.ind-shortcut-selected:hover {
  background: #f7a734 !important; }
.ind-listitem.ind-shortcut-selected:active {
  background: #f9bd65 !important; }

/*---default view----*/
.ind-content .ind-content-selected {
  background: #639cba !important;
  color: white !important; }

.ind-listitem.ind-content-selected:hover {
  background: #a6cee1 !important; }

.ind-listitem:active {
  background: #639cba !important; }

/*---detail list view----*/
.ind-detaillist th {
  background: #cddfe9;
  border-left: 1px solid white; }
  .ind-detaillist th:hover {
    background: #e7f2f7; }

.ind-detaillist .ind-content-selected:hover {
  background: #a6cee1 !important; }

th.ind-col-sort-asc, th.ind-col-sort-desc {
  background: #639cba !important;
  color: white; }

/*---icon view----*/
.ind-iconitem:hover {
  background: #e7f2f7 !important; }

.ind-iconitem.ind-content-selected:hover {
  background: #a6cee1 !important; }

tr:hover {
  background: #e7f2f7 !important; }
