/*
COLORS:
#0078e7	royal blue				btn selected, list item selected
#dd514c	red						breadcrumb

#444	darkest gray			text
#333	darker gray				title control, btn text
#aaa	dark gray 				(border)		

#ccc	gray					buttons, status panel
#ddd	light gray				disabled btn
#f0f0f0	lighter gray
#fafafa	lightest gray
#f7f7f7 super light gray		list item row
#fff	white    				contents panel, btn text, title control text, list item selected text




*/


#title-control {
background: #333;
text-transform: uppercase;
color: #fff;
}

#header-wrapper, #footer-wrapper { 
border-color: #aaa;
border-style: solid;
background: #f0f0f0;
}

#aside-wrapper-left {    /*rename as "shortcuts-panel"?*/
background: #fafafa;
border-right: 1px solid #aaa;
}

#contents-panel {

}

#aside-wrapper-right {
background: #fff;
border-left: 1px solid #aaa;
}

#status-panel {
background: #ccc;
bottom: 0px;
}

.ind-btn {
background: #ccc;
color: #333;
font-size: 1.1em;
}

.ind-btn-dis {
background: #ddd;
color: #aaa;
}

.ind-btn-active {
background: #0078e7;
color: #fff;
}

.ind-content .ind-content-selected {
background: #0078e7 !important;
color: #fff !important;
}


a {
color: #dd514c;
text-decoration: underline;
}
