/*==============================
		   MAIN VARIABLES           
===============================*/
/* HOT Theme */
/* Theme - Basic  */
/* Civil Beat Theme */
/*==============================
		  DEFAULT THEME           
===============================*/
/*--------base colors, subsidiary colors ----------------*/
/* text colors */
/* opposite text colors 
*/
/*---------typography-----------------*/
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  color: #444444; }

/*-------------TYPOGRAPHY--------*/
#title-control, th {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

/*-----------PANEL BGS------------- */
#title-control {
  background: #ef9109;
  color: white; }

#header-wrapper {
  border-color: #aaaaaa;
  background: #edece7; }

#footer-wrapper {
  border-color: #aaaaaa;
  background: #edece7; }

#aside-wrapper-left {
  /* shortcuts panel */
  background: #f4f3f0;
  border-right: 1px solid #aaaaaa; }

#contents-panel {
  background: white; }

#aside-wrapper-right {
  background: white;
  border-left: 1px solid #aaaaaa; }

#status-panel {
  background: #ccc9bb; }

#status-display {
  color: #1e1e1e; }

/*-----------BUTTONS, links------------- */
.ind-btn {
  background: #b0c7d3;
  color: #1e1e1e; }
  .ind-btn:hover {
    background: #c0d3dc;
    color: #1e1e1e; }

.ind-btn-dis {
  background: #ccc;
  color: #aaa; }
  .ind-btn-dis:hover {
    background: #aac9d9; }

.ind-btn-active {
  background: #639cba;
  color: white; }
  .ind-btn-active:hover {
    background: #75a7c2;
    color: white; }
  .ind-btn-active:active {
    background: #5d9ec0; }

a {
  color: #333333;
  text-decoration: underline; }
  a:hover {
    color: #595959; }
  a:active {
    color: #737373; }

/*---------------LIST--------------------- */
.ind-content li:nth-child(6n+1),
.ind-content li:nth-child(6n+2),
.ind-content li:nth-child(6n+3),
.ind-content tr:nth-child(odd) {
  background: #f8f8f6; }

.ind-listitem:hover {
  background: #dfebf1 !important; }

/*---shortcuts list----*/
.ind-shortcut-selected:first-child {
  background: #ef9109;
  color: white; }

.ind-listitem.ind-shortcut-item:hover {
  background: #e2e0d8 !important; }

.ind-listitem.ind-shortcut-selected:hover {
  background: #f7a734 !important; }
.ind-listitem.ind-shortcut-selected:active {
  background: #f9bd65 !important; }

/*---default view----*/
.ind-content .ind-content-selected {
  background: #639cba !important;
  color: white !important; }

.ind-listitem.ind-content-selected:hover {
  background: #b4d0de !important; }
.ind-listitem:active {
  background: #639cba !important; }

/*---detail list view----*/
.ind-detaillist th {
  background: #cddfe9;
  border-left: 1px solid white; }
  .ind-detaillist th:hover {
    background: #f0f6f9; }

.ind-detaillist .ind-content-selected:hover {
  background: #b4d0de !important; }

th.ind-col-sort-asc, th.ind-col-sort-desc {
  background: #639cba !important;
  color: white; }

/*---icon view----*/
.ind-iconitem:hover {
  background: #f0f6f9 !important; }

.ind-iconitem.ind-content-selected:hover {
  background: #b4d0de !important; }

tr:hover {
  background: #f0f6f9 !important; }
