{
    "serverName" : "localhost",
    "serverPort" : 1337,
    
    "credentials" : { 
        "accessKeyId": "YOUR_AWS_ACCESS_KEY_ID", 
        "secretAccessKey": "YOUR_AWS_SECRET_ACCESS_KEY"
    }
}
