//==============================
//      BASIC CUSTOMIZATIONS          
//==============================

// Spring Theme
$color-primary: #55b7ce;
$color-secondary: #aab25b;
$color-base: #e8e8e8;  
$theme: light;

//==============================
//    DEFAULT STYLE RULES       
//===============================

// text colors
$text-main: #444;
$text-dark: darken($text-main, 15%);
$text-light: #fff;

// Button, Interactivity Colors
$btn-color: $color-primary;
$btn-text-color: $text-main;
$btn-disabled-color: #ddd;
$btn-disabled-text-color: #aaa;

// Header Section
$title: $color-secondary;
$text-title: #fff;
$panel-header: $color-base;
$text-breadcrumb: #333;

// Shortcuts Section
$panel-shortcut: lighten($color-base, 3%);
$shortcut: $color-base;
$shortcut-selected: $color-secondary;
$text-shortcut: $text-light;
$text-shortcut-selected: $text-light;

// Content Section
$bg-color: white;
$list-shading: lighten($color-base, 5%);
$list-item-selected: $color-primary;
$highlight-color: lighten($btn-color, 30%);
$th: darken($color-base, 15%);
$th-selected: $color-primary;
$text-list-item-selected: $text-light;
$text-list-item-hover: $text-dark;
$text-th: $text-dark;
$text-th-hover: $text-dark;
$icon-color: $text-main;
$icon-folder: #e8aa50; 

//Preview Section
$panel-preview: $bg-color;

//Footer Section
$panel-footer: $color-base;
$panel-status: darken($color-base, 15%); 
$text-label: $text-main;  
$text-status: #444;

// border colors
$border-dark: #aaa;
$border-light: $bg-color;



// Conditional for dark themes
body {
  @if $theme == dark {
    $text-main: white;
    $text-dark: #fff;
    $text-light: #333;
    $bg-color: #444 !important;
	$border-dark: black !important;
	$border-light: #333 !important;
	$text-breadcrumb: $color-primary;
    $icon-folder: $color-secondary;
    $text-shortcut: $text-dark !important;
    $text-shortcut-selected: $color-primary;
    $btn-text-color: $text-light !important;
    $text-list-item-selected: $text-light;
    $text-list-item-hover: $text-light;
    $text-th: $text-main;
    $text-th-hover: $text-light;
    $text-label: $text-dark; 
    $text-status: #fff;
    $icon-color: $text-dark;
  }
}



//=========Write your variable overrides below==============


