/* Typography */ 

$font-serif: Georgia, Times, serif;
$font-sansserif: Arial, Helvetica Neue, Helvetica, sans-serif;

#indriui      { 
	font-family: $font-sansserif; 
	font-size: 13px; 
	line-height: 1.0; 
	color: $text-main; 
}



ul,ol,dl  { 
	margin: 0; 
	padding: 0; 
	list-style-type: none;
}


/* breadcrumb */
a { 
	text-decoration: underline;
	color: $text-breadcrumb;
	&:hover {
		//background: rgba(0,0,0,0.2);
		color: lighten($text-breadcrumb, 15%);
	}
}
.ind-location-divider, .ind-location-segment {
	color: $text-breadcrumb;
}

/* status display */
#filename-save label {
	color: $color-label;
}