/* --- Table of Contents --- */
/*
Variables

@font-face

Universal Styles

Icons

Buttons





*/
/*==============================
      BASIC CUSTOMIZATIONS          
===============================*/
/*==============================
      DEFAULT STYLE RULES       
===============================*/
/*=========Write your variable overrides below==============*/
/* Theme Rules and Variables */
/* --- Universal Styles --- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Remove accidental text highlighting */
  cursor: default; }

html, body {
  height: 100%;
  width: 100%; }

img {
  max-width: 100%;
  max-height: 100%; }

a,
a > * {
  cursor: pointer; }

input {
  cursor: text; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

/* Universal Styles */
/* Typography */
#indriui {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.0;
  color: white; }

ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* breadcrumb */
a {
  text-decoration: underline;
  color: #f8c600; }
  a:hover {
    color: #ffda45; }

.ind-location-divider, .ind-location-segment {
  color: #f8c600; }

/* status display */
#filename-save label {
  color: white; }

/* Typography */
/* Icon Font */
/* Entypo pictograms by Daniel Bruce — www.entypo.com */
@font-face {
  font-family: "entypo";
  src: url("fonts/entypo.eot");
  src: url("fonts/entypo.eot?#iefix") format("embedded-opentype"), url("fonts/entypo.woff") format("woff"), url("fonts/entypo.ttf") format("truetype"), url("fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

/* --- Icons --- */
.entypo {
  font-family: "entypo";
  line-height: 1.0em;
  color: white; }

.icon-folder {
  color: #e8aa50; }

.ind-filelist .entypo {
  font-size: 2.9em;
  line-height: 0.8em; }

.ind-iconlist .entypo {
  font-size: 4.5em;
  line-height: 0.8em; }

.ind-detaillist .entypo {
  font-size: 2.2em;
  line-height: 1.0em; }

/* Icon Font (Entypo) */
/* --- Buttons --- */
.ind-btn {
  background: #f7da67;
  padding: 10px 15px;
  color: #333333 !important;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: block;
  position: relative;
  line-height: inherit;
  vertical-align: baseline;
  overflow: hidden;
  text-decoration: none; }
  .ind-btn:hover {
    color: inherit;
    background: #f8e07f; }
  .ind-btn.entypo {
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 35px; }

.ind-btn-dis {
  background: #ddd;
  color: #aaa;
  cursor: no-drop; }
  .ind-btn-dis:hover {
    background: #ffe992; }

.ind-btn-active {
  background: #f8c600;
  color: #333333 !important !important;
  /*#fff*/ }
  .ind-btn-active:hover {
    background: #ffcf13;
    color: #333333; }
  .ind-btn-active:active {
    background: #f8c600; }

/* Button Settings */
/* General Structure */
/*General Layout
  Header
  Main content
    - Shortcut Left Column
    - Content Center Column
    - Detail Right Column
  Footer*/
/* --- Overall Content --- */
.ind-wrapper {
  position: absolute;
  left: 0;
  right: 0; }

/* --- Header --- */
#header-wrapper {
  border-width: 0 0 1px 0;
  top: 0;
  height: 100px; }

#header-wrapper,
#footer-wrapper {
  border-color: black !important;
  border-style: solid;
  overflow: hidden; }

/* --- Content Window --- */
#aside-wrapper-left,
#section-wrapper,
#aside-wrapper-right {
  top: 100px;
  bottom: 90px; }

#aside-wrapper-left,
#aside-wrapper-right {
  position: absolute;
  width: 300px; }

/* Shortcut Window */
#aside-wrapper-left {
  left: 0;
  border-right: 1px solid black !important; }

.ind-show-preview {
  margin-right: 300px; }

/* Content Window */
#section-wrapper {
  overflow: auto; }

#contents-panel {
  height: 100%; }

/* Preview Window */
#aside-wrapper-right {
  right: 0;
  background: #444444 !important;
  border-left: 1px solid black !important;
  padding: 15px 20px; }

.ind-show-shortcuts {
  margin-left: 300px; }

/* --- Footer --- */
#footer-wrapper {
  border-width: 1px 0 0 0;
  bottom: 0;
  height: 90px; }

/* General Structure */
/* Panels */
/*Specific Layout
  Header
    - Title Panel
    - Control Panel

  Main Content
    - Shortcut Left Column
    - Content Center Column
      - List View
      - Thumbnail View
      - Detail/Table View
    - Detail Right Column

  Footer
    - Filename Panel
    - Status Panel*/
/* --- Header Sections --- */
#title-control {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  background: black;
  text-align: center;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff; }

#control-panel {
  padding: 15px;
  width: 100%; }

#header-wrapper {
  border-color: black !important;
  background: #333333; }

#footer-wrapper {
  border-color: black !important;
  background: #333333; }

/*==================
      controls 
===================*/
/* --- Left --- */
#layout-controls-left,
#shortcuts-controls,
#layout-contorols {
  float: left; }

/* Buttons */
#location-controls {
  float: left;
  margin: 0 0 0 10px; }

#location-display {
  float: left;
  padding: 10px;
  font-weight: bold; }

.ind-location-divider {
  margin: 0 10px; }

/* --- Right --- */
#layout-controls-right {
  float: right; }

/* Buttons */
#view-controls {
  float: left; }

#detail-controls {
  float: right;
  margin: 0 0 0 10px; }

/* --- Left Shortcut Content --- */
#aside-wrapper-left {
  background: #3b3b3b; }

.ind-shortcut-list li {
  padding: 15px 15px;
  font-weight: bold;
  color: white; }

.ind-listitem.ind-shortcut-item {
  background: #333333;
  border-bottom: 1px solid #333333;
  color: white; }
  .ind-listitem.ind-shortcut-item:hover {
    background: #4d4d4d !important;
    color: white !important; }

.ind-listitem.ind-shortcut-selected {
  background: black !important; }
  .ind-listitem.ind-shortcut-selected .ind-shortcut-name {
    color: #f8c600; }
  .ind-listitem.ind-shortcut-selected:hover {
    background: #1a1a1a !important; }
  .ind-listitem.ind-shortcut-selected:active {
    background: #333333 !important; }

/* --- Overall Content --- */
.ind-wrapper {
  position: absolute;
  left: 0;
  right: 0; }

/* --- Center Content --- */
#contents-panel {
  background: #444444 !important; }

#aside-wrapper-left,
#section-wrapper,
#aside-wrapper-right {
  top: 100px;
  bottom: 90px; }

#aside-wrapper-left,
#aside-wrapper-right {
  position: absolute;
  width: 300px; }

/* Content Window */
#section-wrapper {
  overflow: auto; }

#contents-panel {
  height: 100%; }

.ind-content {
  /* Truncates text. Width needs to be set to work properly */ }
  .ind-content span {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .ind-content li {
    width: 33.333%;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    /* Sets every 9th element to be slightly darker than bg color. 
    This is dependent on the width of each LI being 33%. 
    If it is changed to 25%, everything 9th element needs to be implemented. */ }
    .ind-content li span:hover {
      cursor: default;
      /* Remove text cursor - Add to mobile */ }
    .ind-content li:nth-child(6n+1), .ind-content li:nth-child(6n+2), .ind-content li:nth-child(6n+3) {
      background: #404040; }
  .ind-content tr:nth-child(odd) {
    background: #404040; }
  .ind-content .ind-editable-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 4px 0;
    letter-spacing: 0.06em; }
  .ind-content .ind-content-selected {
    background: #f8c600 !important; }
    .ind-content .ind-content-selected td, .ind-content .ind-content-selected .ind-editable-name, .ind-content .ind-content-selected .entypo {
      color: #333333 !important; }
    .ind-content .ind-content-selected .icon-folder {
      color: black !important; }
    .ind-content .ind-content-selected:hover {
      background: #ffd42c !important; }

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #444444 !important; }

/* --- List View --- */
.ind-listitem {
  padding: 5px; }
  .ind-listitem:hover {
    background: #ffe992 !important;
    color: #333333 !important; }
    .ind-listitem:hover .entypo {
      color: #333333; }
  .ind-listitem .ind-editable-name {
    margin: 0 0 0 5px;
    top: -4px;
    position: relative;
    width: 75%; }

/* --- Thumbnail View --- */
.ind-iconlist li {
  padding: 10px 10px 20px;
  text-align: center; }

.ind-iconitem:hover {
  background: #ffe992 !important;
  color: #333333; }
  .ind-iconitem:hover .entypo {
    color: #333333; }

/* --- Detail/Table View --- */
.ind-detaillist {
  width: 100%;
  border: none; }
  .ind-detaillist th {
    text-transform: uppercase;
    text-align: left;
    padding: 7px 10px;
    position: relative;
    background: #0d0d0d;
    color: white;
    border-left: 1px solid #333333 !important; }
    .ind-detaillist th:hover {
      background: #ffe992;
      color: #333333; }
    .ind-detaillist th:first-child {
      border-left: none; }
  .ind-detaillist tr {
    background: #444444 !important; }
    .ind-detaillist tr:hover {
      background: #ffe992 !important; }
      .ind-detaillist tr:hover td {
        color: #333333; }
        .ind-detaillist tr:hover td .icon-file {
          color: #333333; }
        .ind-detaillist tr:hover td .icon-folder {
          color: #333333; }
    .ind-detaillist tr td {
      padding: 0 10px;
      height: 32px;
      /* Min Height */
      vertical-align: middle;
      color: white; }
      .ind-detaillist tr td:first-child {
        width: 40px;
        text-align: center; }

/* Table Sort */
th.ind-col-sort-asc,
th.ind-col-sort-desc {
  background: #f8c600 !important;
  color: #333333; }
  th.ind-col-sort-asc:hover,
  th.ind-col-sort-desc:hover {
    background: #ffd42c !important; }

.ind-col-sort {
  display: inline-block;
  zoom: 1;
  *display: inline;
  right: 10px;
  top: 0;
  line-height: 0.55em;
  position: absolute;
  color: #333333; }

/* --- Footer Sections --- */
#filename-panel {
  padding: 10px 20px;
  width: 100%; }
  #filename-panel .ind-btn {
    margin-left: 10px; }
    #filename-panel .ind-btn:first-child {
      margin: 0; }

/* --- Controls --- */
#filename-options,
#filename-save,
#filename-action {
  float: left;
  width: 33.3333333%; }

#filename-save {
  padding: 5px 0 0 0; }

#filename-action {
  text-align: right; }

#filename-control {
  width: 50%; }

#filterSelector {
  width: 30%; }

#status-panel {
  background: #0d0d0d;
  bottom: 0px;
  position: absolute;
  width: 100%; }

/* --- Status --- */
#status-display {
  padding: 10px;
  text-transform: capitalize; }

/* Panel Styling */
/* --- */
