

/* --- Overall Content --- */
.ind-wrapper    { 
  position:absolute; 
  left: 0; 
  right: 0; 
}

/* --- Center Content --- */
#contents-panel {
  background: $bg-color;
}

#shortcuts-wrapper,
#contents-wrapper,
#preview-wrapper  { 
  top: 100px; 
  bottom: 90px; 
}
#shortcuts-wrapper,
#preview-wrapper  { 
  position: absolute; 
  width: 300px;
}

/* Content Window */
#contents-wrapper { 
  overflow: auto; 
}
#contents-panel { 
  height: 100%;
}


.ind-content {
  span { 
    display: inline-block; 
    zoom: 1; 
    *display:inline;
  }
  li { 
    width: 33.333%; 
    overflow: hidden; 
    white-space: nowrap; 
    float: left;
    span:hover { 
      cursor: default; /* Remove text cursor - Add to mobile */
    }
    /* Sets every 9th element to be slightly darker than bg color. 
    This is dependent on the width of each LI being 33%. 
    If it is changed to 25%, everything 9th element needs to be implemented. */
    &:nth-child(6n+1),
    &:nth-child(6n+2),
    &:nth-child(6n+3) { 
      background: $list-shading;
      }
  }
  tr:nth-child(odd) { 
    background: $list-shading;
  }
  .ind-editable-name { 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%; 
    padding: 4px 0; 
    letter-spacing: 0.02em; 
    vertical-align: middle;
  } /* Truncates text. Width needs to be set to work properly */
  .ind-content-selected { 
    background: $list-item-selected !important; 
    td, .ind-editable-name,.entypo {
      color: $text-list-item-selected !important;
    }
    .ind-icon-folder {
      color: $icon-folder !important;
    }
    &:hover {
      background: lighten($list-item-selected, 10%) !important;
    }
  }
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: $bg-color;
}

/* --- List View --- */
  .ind-listitem  { 
    padding: 5px; 
    &:hover {
      background: $highlight-color !important;
      color: $text-list-item-hover !important;
      .entypo {
        color: $text-list-item-hover;
      }
      .ind-icon-folder {
        color: $icon-folder !important;
      }
    }
    .ind-editable-name  { 
      margin: 0 0 0 5px; 
      top: -4px; 
      position: relative; 
      width: 75%;
    }
  }

/* --- Thumbnail View --- */

  .ind-iconlist li { 
    padding: 10px 10px 20px; 
    text-align: center;
  }
  .ind-iconitem {
    &:hover {
      background: $highlight-color !important;
      color: $text-list-item-hover; 
      .entypo {
        color: $text-list-item-hover;
      }
      .ind-icon-folder {
        color: $icon-folder;
      }
    }
  }


/* --- Detail/Table View --- */

  .ind-detaillist			{ 
    width: 100%;
    border: none;
    th	{ 
      text-transform: uppercase; 
      text-align: left; 
      padding: 7px 10px; 
      position: relative;
      background: $th; 
      color: $text-th;
      border-left: 1px solid $border-light; 
      &:hover {
        background: $highlight-color;
        color: $text-th-hover;
      }
      &:first-child { 
        border-left: none;
      }
    }
    tr {
      background: $bg-color;
      &:hover {
        background: $highlight-color !important;
        td {
          color: $text-list-item-hover;
          .ind-icon-file {
            color: $text-list-item-hover;
          }
          .ind-icon-folder {
            color: $icon-folder;
          }
        }
      }
      td { 
        padding: 0 10px; 
        height: 32px; /* Min Height */ 
        vertical-align: middle;
        color: $text-dark;
        &:first-child {  
          width: 40px; 
          text-align: center;
        }
      }
    }

  }
  
  /* Table Sort */
  
    th.ind-col-sort-asc,
    th.ind-col-sort-desc  { 
      background: $th-selected !important; 
      color: $text-light;
      &:hover {
        background: lighten($th-selected, 10%) !important;
      }
    }
    .ind-col-sort         { 
      display: inline-block; 
      zoom: 1; 
      *display:inline; 
      right: 10px; 
      top: 0; 
      line-height: 0.55em; 
      position: absolute; 
      color: $text-light;
    }




