    /* --- Footer Sections --- */
#footer-control-panel { 
  padding: 10px 20px; 
  width: 100%;
  .ind-btn { 
    margin-left: 10px;
    &:first-child { 
      margin: 0; 
    }
  }
}
  
  /* --- Controls --- */
  #operations-panel,  
  #filename-panel { 
    float: left; 
    width: 33.3333333%;
  }

  #action-panel {
    float: right;
    width: 33.3333333%;
  }

  #filename-panel    { 
    padding: 0;
  }

  #filename-label-control {
    font-size: 10px !important;
    line-height:11px;
    margin-bottom: 2px;
  }


  #filename-control { 
    width: 100%;
    line-height: 14px;
    height: 20px;
  }
  #filterSelector   { width: 30%;}

    #action-panel  { 
    text-align: right;
  }
  
#status-panel       { 
  background: $panel-status; 
  bottom: 0px; 
  position: absolute; 
  width: 100%;
}

  /* --- Status --- */
  #status-control   { 
    padding: 10px; 
    text-transform: capitalize;
  }

