/* --- Header Sections --- */
#title-control  { 
  font-family: $font-sansserif;
  background: $text-title; 
  text-align: center; 
  padding: 10px 15px; 
  text-transform: uppercase; 
  color: #fff; }

#header-control-panel  { 
  padding: 15px; 
  width: 100%;
}

#header-wrapper { 
  border-color: $border-dark;
  background: $panel-header;
}

#footer-wrapper { 
  border-color: $border-dark;
  background: $panel-footer;
}

  
  /*==================
        controls 
  ===================*/

  /* --- Left --- */
  
  #header-left-panel,
  #shortcuts-panel { 
    float: left; 
  }
  
  /* Buttons */
  #header-navigation-panel    { float: left; margin: 0 0 0 10px;}
  #location-control    	{ float: left; padding: 10px; font-weight: bold;}
  .ind-location-divider { margin: 0 10px;}

  /* --- Right --- */
  #header-right-panel  { float: right;}
  #preview-wrapper {
    //background: $panel-preview;
  }

    /* Buttons */
    #views-panel          { float: left;}
    #details-panel        { float: right; margin: 0 0 0 10px;}

  