/* --- Left Shortcut Content --- */
#shortcuts-wrapper {
  background: $panel-shortcut;
}

.ind-shortcut-list li 	{ 
  padding: 15px 15px; 
  font-weight: bold; 
  color: $text-dark;
}

.ind-listitem.ind-shortcut-item {
	background: $shortcut;
  border-bottom: 1px solid $color-base;
  color: $text-main;
  &:hover {
    background: desaturate(lighten($color-secondary, 30%), 20%) !important; 
    color: $text-main !important;
  }
}

.ind-listitem.ind-shortcut-selected{ 
  background: $shortcut-selected !important; 
  .ind-shortcut-name {
	color: $text-shortcut-selected;
  }
  &:hover {
  	background: lighten($shortcut-selected, 10%) !important;
  }
  &:active {background: lighten($shortcut-selected, 20%) !important;}
}